p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bold {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
hr {
    border-color: black;
    border-width: 2px;
}
col.red {
    BACKGROUND-color: red
}
.container {
    position: relative;
    left: 900px;
}
.cnt {
    background-color: cornflowerblue;
    position: relative;
    width: 300px;
    left: 800px;
    border: 1px solid black;
}
span {
    color: green;
    font-size: 35px;
}
.cont {
    display: block;
    line-height: 0.3;
    background-color: #00ffff;
    width: 500px;
    height: 450px;
    left: 700px;
    position: relative;
}
.che {
    position: relative;
    top: 70px;
}
.che1 {
    position: relative;
    top: 40px;
}
.table {
    border: 10px solid blue; 
    border-collapse: collapse; 
    width: 100%; 
  }
  
  .th {
    background-color: yellow;
    color: red;
    border: 3px dotted red; 
    padding: 8px;
    text-align: left; 
  }
  
  .td {
    background-color: green; 
    border: 2px solid yellow; 
    padding: 8px; 
  }